.btn{
        &, &:link , &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        font-size: 1.6rem;
        position: relative;
        overflow: hidden;
        animation-name: moveInBottom;
        animation-duration:1.5s ;
        /*background-image: linear-gradient(to right, #00c9ff, #92fe9d);*/

        
    }
    
    &:hover {
        transform: translateY(-0.3rem);
      
        box-shadow: 0 10px 20px rgba($Black,0.2);
    }
    
    &:active{
        
        transform: translateY(-0.1rem);
        box-shadow: 0 5px 10px rgba($Black,0.2);
    }
    
    &--white {
        background: $mGreen; 
        color: $White;      
        
    }

     
    &--green {
        background: $lGreen; 
        color: $White;      
        
    }
    

}

a .sp1{
    &:nth-child(1){
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 0.2rem;
       
        background: linear-gradient(to right,$mGreen,$White);
        animation: animate1 2s linear infinite;
        
    }
    
    &:nth-child(2){
        position: absolute;
        top: 0;
        right: 0;
        width:0.2rem;
        height: 100%;
        
        background: linear-gradient(to bottom,$mGreen,$White);
        animation: animate2 2s linear infinite;
        animation-delay: 1s;
       
    }
    
    &:nth-child(3){
        position: absolute;
        bottom: 0;
        left: 0;
        width:100%;
        height: 0.2rem;
        background: linear-gradient(to left,$mGreen,$White);
        animation: animate3 2s linear infinite;
        
    } 
    
    
    &:nth-child(4){
        position: absolute;
        top: 0;
        left: 0;
        width:0.2rem;
        height: 100%;
    
        background: linear-gradient(to top,$mGreen,$White);
        animation: animate4 2s linear infinite;
        animation-delay: 1s;
}

}

.btn-text {
    &:link, 
    &:visited {
        color: $lGreen;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $lGreen;
        padding: 3px;
        font-size: 1.6rem ;
        transition: all .2s;
    }

    &:hover {
        background-color: $lGreen;
        color: $White;
        box-shadow: 0 1rem 2rem rgba($Black,0.2);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($Black,0.2);
        transform: translateY(0);
    }
}

.btn2 {
    &:link , &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 30px;
                //background-image: linear-gradient(to right bottom, rgba(#36d1dc, .85), rgba(#5b86e5, .85));
        background-color: $White;
        color: #5b86e5;
        font-size: 1.6rem;
    }
    &:hover {
        transform: translateY(-0.3rem);
      
        box-shadow: 0 10px 20px rgba($Black,0.2);
    }
    
    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 5px 10px rgba($Black,0.2);
    }
    
}

.btn3 {
    &:link , &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 30px;
                //background-image: linear-gradient(to right bottom, rgba(#36d1dc, .85), rgba(#5b86e5, .85));
        background-color: $White;
        color: #00B712;
        font-size: 1.6rem;
    }
    &:hover {
        transform: translateY(-0.3rem);
      
        box-shadow: 0 10px 20px rgba($Black,0.2);
    }
    
    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 5px 10px rgba($Black,0.2);
    }
    
}

.btn4 {
    &:link , &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 30px;
                //background-image: linear-gradient(to right bottom, rgba(#36d1dc, .85), rgba(#5b86e5, .85));
        background-color: $White;
        color: #c4e0e5;
        font-size: 1.6rem;
    }
    &:hover {
        transform: translateY(-0.3rem);
      
        box-shadow: 0 10px 20px rgba($Black,0.2);
    }
    
    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 5px 10px rgba($Black,0.2);
    }
    
}

.btn5 {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    font-size: 1.6rem;
    overflow: hidden;
    animation-name: moveInBottom;
    animation-duration:1.5s ;
    border: none;
    cursor: pointer;
    border-radius: 40px;

    @include respond(phone) {
        font-size: 1rem;
        padding: 1rem 3.5rem;
        margin-bottom: 1rem;
    }

    &:hover {
        transform: translateY(-0.3rem);
      
        box-shadow: 0 10px 20px rgba($Black,0.2);
    }
    
     &:focus, &:active {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 5px 10px rgba($Black,0.2);
    }
}